<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900' rel='stylesheet' type='text/css'>

    <!-- Page title -->
    <title>Заявки | Akbars Bot</title>

    <!-- Vendor styles -->
    <link rel="stylesheet" href="vendor\fontawesome\css\font-awesome.css">
    <link rel="stylesheet" href="vendor\animate.css\animate.css">
    <link rel="stylesheet" href="vendor\bootstrap\css\bootstrap.css">
    <link rel="stylesheet" href="vendor\switchery\switchery.min.css">

    <!-- App styles -->
    <link rel="stylesheet" href="styles\pe-icons\pe-icon-7-stroke.css">
    <link rel="stylesheet" href="styles\pe-icons\helper.css">
    <link rel="stylesheet" href="styles\stroke-icons\style.css">
    <link rel="stylesheet" href="styles\style.css">
    <link rel="stylesheet" href="styles\chat.css">
</head>
<body>

<!-- Wrapper-->
<div class="wrapper">

    <!-- Header-->
    <%- include('header', { user }); %>
    <!-- End header-->

    <!-- Navigation-->
    <%- include('navigation', {user, page: 'applications'}); %>
    <!-- End navigation-->


    <!-- Main content-->
    <section class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-lg-12">
                    <div class="view-header">
                        <div class="pull-right text-right" style="line-height: 14px">
                            <small>АК Барс<br>бот<br> <span class="c-white">v.1.0</span></small>
                        </div>
                        <div class="header-icon">
                            <i class="pe page-header-icon pe-7s-box1"></i>
                        </div>
                        <div class="header-title">
                            <h3>Заявки</h3>
                            <small>
                                Заявки пользователей на продукты банка
                            </small>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>



            <div class="row">
                <div class="col-md-12">

                    <div class="panel panel-filled">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="input-group m-b-xs m-t-xs">
                                        <input class="form-control" type="text" placeholder="Поиск по названию продукта.." style="width: 100%">
                                        <div class="input-group-btn">
                                            <button class="btn btn-default"><i class="fa fa-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <select class="form-control m-b-xs m-t-xs" name="account" style="width: 100%">
                                        <option selected="">Выберите статус
                                        <option>Не рассмотрена
                                        <option>На рассмотрении
                                        <option>Расммотрена
                                    </select>
                                </div>
                                <div class="col-lg-3">
                                    <select class="form-control m-t-xs" name="account" style="width: 100%">
                                        <option selected="">Сортировать по
                                        <option>Дате создания заявки
                                        <option>Статусу заявки
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel">
                        <div class="panel-body">
                            <div class="table-responsive">
                            <table class="table table-vertical-align-middle">
                                <thead>
                                <tr>
                                    <th>
                                        Статус
                                    </th>
                                    <th>
                                        Соц. сеть
                                    </th>
                                    <th>
                                        Название продукта
                                    </th>
                                    <th class="text-right">
                                        Actions
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <% for (let application of applications) { %>
                                    <tr>
                                        <td>
                                            <% switch (application.status) {
                                                case 0 /* Не рассмотрена */: %>
                                                    <span class="label label-default">Не рассмотрена</span>
                                                <% break;
                                                case 1 /** На рассмотрении */: %>
                                                    <span class="label label-accent">На рассмотрении</span>
                                                <% break;
                                                case 2 /** Рассмотрена */: %>
                                                    <span class="label label-success">Рассмотрена</span>
                                            <% } %>
                                        </td>
                                        <td><%= application.messenger %></td>
                                        <td><a href="#"><%= application.application %></a>
                                            <div class="small"><i class="fa fa-clock-o"></i> Создана <%= application.created.split('T')[0] %></div>
                                        </td>
                                        <td>
                                            <div class="btn-group pull-right">
                                                <button onclick="showApplication('<%= application.id %>')" class="btn btn-default btn-xs"><i class="fa fa-folder"></i> Просмотр </button>
                                            </div>
                                        </td>
                                    </tr>
                                <% } %>
                                </tbody>
                            </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pull-right">
                <ul class="pagination pagination-sm">
                <li class="disabled"><a href="#">Назад</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">Вперед</a></li>
                </ul>
            </div>
        </div>

        <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title" id="name"></h4>
                    </div>
                    <div class="modal-body">
                        <!-- Данные заявки -->
                        <table class="table table-condensed" id="params">
                            <tbody>
                            </tbody>
                        </table>
                        <!-- /Данные заявки -->

                        <!-- Включалка чата -->
                        <div class="form-group">
                            <p>Подключиться к чату&nbsp;&nbsp;<input type="checkbox" id="switch"></p>
                        </div>
                        <!-- /Включалка чата -->

                        <!-- Чат -->
                        <div class="chat_window" id="chat" style="display: none;">
                            <ul class="messages"></ul>
                            <div class="bottom_wrapper clearfix">
                                <div class="message_input_wrapper">
                                    <input class="message_input" placeholder="Напишите ваше сообщение клиенту..." />
                                </div>
                                <div class="send_message">
                                    <div class="icon"></div>
                                    <div class="text">Отправить</div>
                                </div>
                            </div>
                        </div>
                        <div class="message_template">
                            <li class="message">
                                <!--<div class="avatar"></div>-->
                                <div class="text_wrapper">
                                    <div class="text"></div>
                                </div>
                            </li>
                        </div>
                        <!-- /Чат -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-accent">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- End main content-->

</div>
<!-- End wrapper-->

<!-- Vendor scripts -->
<script src="vendor\pacejs\pace.min.js"></script>
<script src="vendor\jquery\dist\jquery.min.js"></script>
<script src="vendor\bootstrap\js\bootstrap.min.js"></script>
<script src="vendor\switchery\switchery.min.js"></script>

<!-- App scripts -->
<script src="scripts\luna.js"></script>
<script src="scripts\chat.js"></script>
<script src="scripts\applications.js"></script>

<script>
/** Храним все заявления */
var applications = <%- JSON.stringify(applications) %>

/** Данные клиента в чате */
var active_chat = {
    client_id: null,
    messenger: null
};

/** Вебсокет создается при открытии чата */
var webSocket = null;

$(document).ready(function () {
    // Native javascript
    var elem1 = document.querySelector('#switch');
    var elem1 = new Switchery(elem1);
});
</script>

</body>

</html>